@import './default/variables.scss';

$text-color: #fff;

#game-grid {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0 10%;
  h1 {
    text-align: center;
    margin: 3em 0;
    // transform: translateY(-20px);
    // text-shadow: 4px 0px 5px rgba(0,0,0, 0.2);
  }
  // .card:first-child {
  //   margin-top: 0;
  // }
  a {
    margin: 5em 0.5em;
  }
  .card {
    // border: $dark-color solid 3px;
    color: $secondary-color;
    img {
      width: 100%;
      height: auto;
    }
    .card-caption {
      // border-top: $primary-color solid 3px;
      background-color: $accent-color;
      padding-bottom: 1em;
      text-align: center;
      h2 {
        // background-color: $primary-color;
        padding: 0.25em 0;
      }
      p {
        padding: 1em 1em 0 1em;
        height: 10ch;
        font-size: 1em;
        text-align: center;
      }
      .card-grid {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
      }
    }
  }
}
