
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;
$font-colors: (
    "red": red,
    "black": black,
    "greenish": green
);
body {
    background: $primary-color;
    color: map-get($font-colors , greenish )
}