@import './variables.scss';

$text-color: #fff;
$font-colors: (
  'red': red,
  'black': black,
  'greenish': green,
);
body {
  background: $primary-color;
  color: map-get($font-colors, greenish);
}
