*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  background: #272727;
  color: green;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20% 10%;
  padding: 0.5rem;
  border: blue 3px solid;
  background-color: #399731;
  position: relative;
}

nav #logo {
  position: absolute;
  -webkit-transform: translate(40%);
          transform: translate(40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -2rem;
}

nav #logo img {
  width: 20%;
  -webkit-transform: translate(0, -65%);
          transform: translate(0, -65%);
}

nav .button-container {
  padding: 0 1rem;
}

nav .icon-style {
  position: relative;
  top: 0.1rem;
  color: black;
}

nav a {
  font-family: 4rem;
}

nav input[type='text'] {
  background: none;
  border-bottom: #e7e7e7 3px solid;
}

nav input[type='text']::-webkit-input-placeholder {
  color: #272727;
}

nav input[type='text']:-ms-input-placeholder {
  color: #272727;
}

nav input[type='text']::-ms-input-placeholder {
  color: #272727;
}

nav input[type='text']::placeholder {
  color: #272727;
}
