.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;

    div{
        width: 20px;
        height: 20px;
    }
}

.block {
    background-color: blue;
}