.game {
  margin-top: 2.5rem;
  display: grid;
  justify-content: center;
}
.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;

  div {
    width: 20px;
    height: 20px;

    &:not(.taken) {
      outline: 1px rgba(73, 73, 73, 0.6) solid;
    }
  }
}

.block {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;

  div {
    outline: 1px rgba(73, 73, 73, 0.4) solid;

    height: 20px;
    width: 20px;
  }
}
