$primary-color: #272727;
$secondary-color: #e7e7e7;
$accent-color: #ff652f;

//factory sets the default styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
